*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

#navbar{
    display:flex;
    background-color:#000;
    color: white;
    justify-content: center;
    
}

.navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:    20px 0;
}

.logo{
    height: 40px;
    width: auto;
}


.navbar-container ul{
    display:flex;
    list-style: none;
    font-weight: bold ;
}

.navbar-container ul li{
    padding: 0 20px;
}

.navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}



#showcase{
    margin: 0px;
    padding: 0px;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #202f72;;
    background-color: rgb(150, 240, 182);
    letter-spacing: 0.25px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 480px;
    background-image: url(img/);
}

.showcase-container{
    display: inline-block;
    flex-direction: column;
    
}


.btn-primary{
    position: relative;
    background-color: var(--background-base,#1ed760);
    color: var(--text-base,#000000);
    border-radius: 500px;
    font-size: inherit;
    padding: 14px 32px;
    display: block;
    --background-base: #202F72 !important;
    --background-highlight: #1A275E !important;
    --background-press: #151F4A !important;
    --background-elevated-base: #202F72 !important;
    --background-elevated-highlight: #1A275E !important;
    --background-elevated-press: #151F4A !important;
    --background-tinted-base: #202F72 !important;
    --background-tinted-highlight: #1A275E !important;
    --background-tinted-press: #151F4A !important;
    --background-unsafe-for-small-text-base: #202F72 !important;
    --background-unsafe-for-small-text-highlight: #1A275E !important;
    --background-unsafe-for-small-text-press: #151F4A !important;
    --text-base: #96F0B6 !important;
    --text-subdued: #96F0B6 !important;
    --text-bright-accent: #96F0B6 !important;
    --text-negative: #96F0B6 !important;
    --text-warning: #96F0B6 !important;
    --text-positive: #96F0B6 !important;
    --text-announcement: #96F0B6 !important;
    --essential-base: #96F0B6 !important;
    --essential-subdued: #96F0B6 !important;
    --essential-bright-accent: #96F0B6 !important;
    --essential-negative: #96F0B6 !important;
    --essential-warning: #96F0B6 !important;
    --essential-positive: #96F0B6 !important;
    --essential-announcement: #96F0B6 !important;
    --decorative-base: #96F0B6 !important;
    --decorative-subdued: #96F0B6 !important;

}